.Dictionary section,
form {
  background: white;
  padding: 30px;
  border-radius: 6px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
  margin: 20px 0;
  background: linear-gradient(
    to left bottom,
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.3)
  );
  z-index: 100;
}

.Dictionary input {
  width: 100%;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  color: rgb(63, 63, 63);
  margin-top: 10px;
}

.Dictionary .hint {
  font-size: 11px;
  margin-top: 7px;
}

.Dictionary .dictionary-info {
  display: flex;
}

.Dictionary .results-info {
  max-width: 590px;
  margin-right: 30px;
}

.Dictionary .results-photos {
  max-width: 365px;
}

@media (max-width: 900px) {
  .Dictionary .dictionary-info {
    display: flex;
    flex-direction: column;
  }

  .Dictionary .results-info {
    max-width: 1000px;
    margin-right: 0;
  }

  .Dictionary .results-photos {
    max-width: 1000px;
  }
}
